<main class="container">

  <section class="card">
    <div class="card-header">
      <span class="flex-start">
        Disciplinas
        <%= link_to '+', new_disciplina_path, class: 'add-button' %>
      </span>
      <%= notice %>
    </div>
    
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Carga Horária</th>
          <th>Docente</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @disciplinas.each do |disciplina| %>
          <tr>
            <td><%= disciplina.nome %></td>
            <td><%= disciplina.carga_horaria %></td>
            <td>
              <% if disciplina.docente_id %>
                <%= Docente.find(disciplina.docente_id).nome %>
              <% else %>
                Nenhum
              <% end %>
            </td>
            <td class="buttons-container">
              <%=
                link_to 'Visualizar',
                disciplina,
                class: "view-button"
              %>
              <%=
                link_to 'Editar',
                edit_disciplina_path(disciplina),
                class: 'edit-button'
              %>
              <%= 
                link_to 'Excluir',
                disciplina,
                method: :delete,
                data: { confirm: 'Tem certeza que quer deletar este registro?' },
                class: 'delete-button'
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>

</main>

