<p id="notice"><%= notice %></p>

<h1>Disciplinas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Carga horaria</th>
      <th>Docente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplinas.each do |disciplina| %>
      <tr>
        <td><%= disciplina.nome %></td>
        <td><%= disciplina.carga_horaria %></td>
        <td>
          <% if disciplina.docente_id %>
            <%= Docente.find(disciplina.docente_id).nome %>
          <% else %>
            Nenhum
          <% end %>
        </td>
        <td><%= link_to 'Show', disciplina %></td>
        <td><%= link_to 'Edit', edit_disciplina_path(disciplina) %></td>
        <td><%= link_to 'Excluir', disciplina, method: :delete, data: { confirm: 'Tem certeza que quer deletar este registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disciplina', new_disciplina_path %>
