<main class="show-container">

  <div class="flex-start">
    <%=
      link_to '< Voltar para disciplinas',
      disciplinas_path,
      class: 'back-button'
    %>
    <%=
      link_to 'Edit',
      edit_disciplina_path(@disciplina),
      class: 'edit-button'
    %>
  </div>

  <section class="card">

    <div class="card-header">
      <span>
        Disciplina de
        <%= @disciplina.nome %>
      </span>
      <p id="notice"><%= notice %></p>
    </div>

    <div class="card-body">

      <label>
        <strong>Carga horaria:</strong>
        <%= @disciplina.carga_horaria %>
      </label>

      <label>
        <strong>Docente:</strong>
        <% if @disciplina.docente_id %>
          <%= Docente.find(@disciplina.docente_id).nome %>
        <% else %>
          Nenhum
        <% end %>
      </label>

      <label>
        <strong>Discentes:</strong>
        <% if @disciplina.discentes.any? %>
          <ul>
            <% @disciplina.discentes.each do |discente| %>
              <li>
                <%= discente.nome %>
              </li>
            <% end %>
          </ul>
        <% else %>
          Nenhum
        <% end %>
      </label>

    </div>

  </section>

</main>