<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @disciplina.nome %>
</p>

<p>
  <strong>Carga horaria:</strong>
  <%= @disciplina.carga_horaria %>
</p>

<p>
  <strong>Docente:</strong>
  <% if @disciplina.docente_id %>
    <%= Docente.find(@disciplina.docente_id).nome %>
  <% else %>
    Nenhum
  <% end %>
</p>

<p>
  <strong>Discentes:</strong>
  <% if @disciplina.discentes.any? %>
    <ul>
      <% @disciplina.discentes.each do |discente| %>
        <li>
          <%= discente.nome %>
        </li>
      <% end %>
    </ul>
  <% else %>
    Nenhum
  <% end %>
</p>

<%= link_to 'Edit', edit_disciplina_path(@disciplina) %> |
<%= link_to 'Back', disciplinas_path %>
