<h1>
  <b>Docente:</b> <%= @docente.nome %>
</h1>

<p id="notice"><%= notice %></p>

<strong>Disciplinas:</strong>
<ul>
  <% @docente.disciplina_ids.each do |disciplina| %>
  <li>
    <%= disciplina %>
  </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_docente_path(@docente) %> |
<%= link_to 'Back', docentes_path %>
