<main class="show-container">

  <div class="flex-start">
    <%=
      link_to '< Voltar para docentes',
      docentes_path,
      class: 'back-button'
    %>
    <%=
      link_to 'Edit',
      edit_docente_path(@docente),
      class: 'edit-button'
    %>
  </div>

  <section class="card">

    <div class="card-header">
      <span>
        Docente <%= @docente.nome %>
      </span>
      <p id="notice"><%= notice %></p>
    </div>

    <div class="card-body">

      <label>
        <strong>Disciplinas:</strong>
        <% if @docente.disciplinas.any? %>
          <ul>
            <% @docente.disciplinas.each do |disciplina| %>
              <li>
                <%= disciplina.nome %>
              </li>
            <% end %>
          </ul>
        <% else %>
          Nenhuma
        <% end %>
      </label>

    </div>

  </section>

</main>