<%= form_with(model: discente) do |form| %>
  <% if discente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discente.errors.count, "error") %> prohibited this discente from being saved:</h2>

      <ul>
        <% discente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :identidade %>
    <%=
      form.collection_select :identidade_id,
      Identidade.where(discente_id: nil),
      :id, :string_id
    %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%=
      form.collection_check_boxes :disciplina_ids,
      Disciplina.order(:nome),
      :id, :nome
    %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
