<p id="notice"><%= notice %></p>

<h1>Discentes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discentes.each do |discente| %>
      <tr>
        <td><%= discente.nome %></td>
        <td><%= link_to 'Show', discente %></td>
        <td><%= link_to 'Edit', edit_discente_path(discente) %></td>
        <td><%= link_to 'Destroy', discente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discente', new_discente_path %>
