<main class="show-container">

  <div class="flex-start">
    <%=
      link_to '< Voltar para discentes',
      discentes_path,
      class: 'back-button'
    %>
    <%=
      link_to 'Edit',
      edit_discente_path(@discente),
      class: 'edit-button'
    %>
  </div>

  <section class="card">

    <div class="card-header">
      <span>
        <%= @discente.nome %>
      </span>
      <p id="notice"><%= notice %></p>
    </div>

    <div class="card-body">

      <label>
        <strong>Identidade:</strong>
        <% if not @discente.identidade.blank? %>
          <%= @discente.identidade.string_id %>
        <% else %>
          Não possui
        <% end %>
      </label>

      <label>
        <strong>Disciplinas:</strong>
        <% if @discente.disciplinas.any? %>
          <ul>
            <% @discente.disciplinas.each do |disciplina| %>
              <li>
                <%= disciplina.nome %>
              </li>
            <% end %>
          </ul>
        <% else %>
          Nenhuma
        <% end %>
      </label>

    </div>

  </section>

</main>