<main class="container">

  <section class="card">
    <div class="card-header">
      <span class="flex-start">
        Identidades
        <%= link_to '+', new_identidade_path, class: 'add-button' %>
      </span>
      <%= notice %>
    </div>
    
    <table>
      <thead>
        <tr>
          <th>Discente</th>
          <th>GRR</th>
          <th>CPF</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @identidades.each do |identidade| %>
          <tr>
            <td>
              <% if identidade.discente %>
                <%= identidade.discente.nome %>
              <% else %>
                Nenhum
              <% end %>
            </td>
            <td><%= identidade.grr %></td>
            <td><%= identidade.formatted_cpf %></td>
            <td class="buttons-container">
              <%=
                link_to 'Visualizar',
                identidade,
                class: "view-button"
              %>
              <%=
                link_to 'Editar',
                edit_identidade_path(identidade),
                class: 'edit-button'
              %>
              <%= 
                link_to 'Excluir',
                identidade,
                method: :delete,
                data: { confirm: 'Tem certeza que quer deletar este registro?' },
                class: 'delete-button'
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>

</main>

