<main class="show-container">

  <div class="flex-start">
    <%=
      link_to '< Voltar para identidades',
      identidades_path,
      class: 'back-button'
    %>
    <%=
      link_to 'Edit',
      edit_identidade_path(@identidade),
      class: 'edit-button'
    %>
  </div>

  <section class="card">

    <div class="card-header">
      <span>
        Identidade
      </span>
      <p id="notice"><%= notice %></p>
    </div>

    <div class="card-body">

      <label>
        <strong>GRR:</strong>
        <% if @identidade.grr %>
          <%= @identidade.grr %>
        <% else %>
          Nenhum
        <% end %>
      </label>

      <label>
        <strong>CPF:</strong>
        <% if @identidade.cpf %>
          <%= @identidade.formatted_cpf %>
        <% else %>
          Nenhum
        <% end %>
      </label>

      <label>
        <strong>Discente associado:</strong>
        <% if not @identidade.discente.blank? %>
          <%= @identidade.discente.nome %>
        <% else %>
          Nenhum
        <% end %>
      </label>

    </div>

  </section>

</main>