<!DOCTYPE html>
<html>
  <head>
    <title>T5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Disciplinas', disciplinas_path %>
      <%= link_to 'Docentes', docentes_path %>
      <%= link_to 'Discentes', discentes_path %>
      <%= link_to 'Identidades', identidades_path %>
    </header>
    
    <%= yield %>

  </body>
</html>
